<template>
    <div class="card chart-card">
        <div class="has-text-centered"><h4 class="title is-4 is-center">{{title}}</h4></div>
        <div v-bind:id="title" class="chart-boxplot"></div>
    </div>
</template>

<script>
    export default {
        name: 'BoxPlotCard',
        props: ['country', 'city', 'title', 'products'],
        data() {
            return {
                chart_data: [],
                margin: {top: 30, right: 20, bottom: 120, left: 80},
                min: Infinity,
                max: -Infinity,
                labels: true,
                card_width: 0,
                card_ratio: 5/9,

                chart: null,
                svgEl: null,
                x: null,
                y: null,

            };
        },
        computed: {
            width() {
                return this.card_width - this.margin.left - this.margin.right;
            },
            height() {
                return this.card_width * this.card_ratio - this.margin.top - this.margin.bottom;
            },
            alterLabelsPosition() {
                var max_length_allowed = 120 / this.chart_data.length;
                for(let info of this.chart_data) {
                    // Don't alter if the only long product is the last one.
                    if (info[0].length > max_length_allowed && (this.chart_data.indexOf(info) !== this.chart_data.length - 1)) {
                        return true;
                    }
                }
                return false;
            },
        },
        mounted() {
            // Retrieve data for component and initialize the chart
            this.fetchData();

            // Add the callback for the resize event
            window.addEventListener('resize', () => {
                this.card_width = $(this.$el).width();
                this.renderChart();
            });
        },
        methods: {
            fetchData() {
                var url = '/' + this.country.slug + '/boxplot-data';
                if (typeof this.city.slug !== "undefined") {
                    url += '/' + this.city.slug;
                }
                var that = this;
                axios.get(url, {
                    params: {
                        products: that.title,
                    }
                })
                .then((response) => {
                    this.chart_data = response.data;
                    this.initChart();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            initChart() {
                // Set the size based on the card element
                this.card_width = $(this.$el).width();

                var rowMin, rowMax;
                $.each(this.chart_data, ( key, val ) => {
                    rowMin = val[1].reduce(function(acc, val) {
                        return Math.min(acc, val);
                    }, 0);
                    rowMax = val[1].reduce(function(acc, val) {
                        return Math.max(acc, val);
                    }, 0);

                    if (rowMax > this.max) this.max = rowMax;
                    if (rowMin < this.min) this.min = rowMin;

                });

                this.generateBoxplotChart();

                var svg = d3.select("#" + this.title).append("svg")
                    .attr("class", "boxplot")
                    .append("g");


                this.y = this.drawYAxis(svg);
                this.x = this.drawXAxis(svg);

                this.renderChart();

                // draw the boxplots
                svg.selectAll(".boxplot")
                    .data(this.chart_data)
                    .enter()
                    .append("g")
                        .attr("transform", (d) => { return "translate(" +  this.x(d[0])  + "," + this.margin.top + ")"; } )
                    .call(this.chart.width(this.x.rangeBand()));
            },

            generateBoxplotChart() {
                this.chart = d3.box()
                    .whiskers(this.iqr(1.5))
                    .domain([this.min, this.max])
                    .showLabels(this.labels);
            },

            renderChart() {
                // console.log('rendering')

                this.generateBoxplotChart();

                // Set height of boxplots
                this.chart.height(this.height)


                // Select the SVG element
                var svg = d3.select("#" + this.title + ' svg');

                this.updateXAxisDimensions();

                // Update X Axis position
                svg.select(".axis-x")
                    .attr("transform", "translate(0," + (this.height  + this.margin.top + 10) + ")")
                    .call(this.xAxis);

                this.updateYAxisDimensions();
                svg.select('.axis-y')
                    .call(this.yAxis);


                svg.attr("width", this.width + this.margin.left + this.margin.right)
                    .attr("height", this.height + this.margin.top + this.margin.bottom)
                    .select('g')
                        .attr("transform", "translate(" + this.margin.left + "," + this.margin.top + ")");

                svg.selectAll(".boxplot")
                    .selectAll('g')
                    .attr("transform", (d) => { return "translate(" +  this.x(d[0])  + "," + this.margin.top + ")"; } )
                    .call(this.chart.width(this.x.rangeBand()));
            },

            drawXAxis(svg) {
                this.updateXAxisDimensions();
                // the x-axis
                var classes = "axis axis-x";
                if (this.alterLabelsPosition) {
                    classes = classes + ' axis-x-alter-labels'
                }
                // draw x axis
                svg.append("g")
                    .attr("class", classes)
                    .attr("transform", "translate(0," + (this.height  + this.margin.top + 10) + ")")
                    .call(this.xAxis);
                return this.x;
            },

            updateYAxisDimensions() {
                this.y = d3.scale.linear()
                    .domain([this.min, this.max])
                    .range([this.height + this.margin.top, 0 + this.margin.top]);
                this.yAxis = d3.svg.axis()
                    .scale(this.y)
                    .orient("left");
            },

            updateXAxisDimensions() {
                this.x = d3.scale.ordinal()
                    .domain( this.chart_data.map(function(d) { return d[0] } ) )
                    .rangeRoundBands([0 , this.width], 0.7, 0.3);

                this.xAxis = d3.svg.axis()
                    .scale(this.x)
                    .orient("bottom");
            },

            drawYAxis(svg) {
                // the y-axis
                this.updateYAxisDimensions();

                // draw y axis
                svg.append("g")
                    .attr("class", "axis axis-y")
                    .call(this.yAxis)
                    .append("text") // and text1
                        .attr("transform", "rotate(-90)")
                        .attr("y", -60)
                        .attr("dy", ".71em")
                        .attr("text-anchor", "end")
                        .attr('class', 'axis-y-title')
                        .text("Precio en " + this.country.currency);

                return this.y;
            },

            iqr(k) {
                return function(d, i) {
                    var q1 = d.quartiles[0],
                        q3 = d.quartiles[2],
                        iqr = (q3 - q1) * k,
                        i = -1,
                        j = d.length;
                    while (d[++i] < q1 - iqr);
                    while (d[--j] > q3 + iqr);
                    return [i, j];
                };
            },
        },
    }
</script>
