<template>
    <div class="box podium podium-card has-text-centered">
        <div class="title"><h3 class="is-3">{{title}}</h3></div>
        <div v-for='(item, index) in champions' class="stand has-text-centered" v-bind:class="'place-' + (index + 1)">
            <span class="champion image is-64x64">
                <img v-bind:src="item.image">
            </span>
            <span class="position">{{index + 1}}</span>
            <span class="name is-size-6">{{item.title}}</span>
            <span class="description is-size-7">{{item.description}}</span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Podium',
        props: ['title', 'champions'],
        data() {
            return {

            };
        },
        computed: {

        },

}
</script>
