<template>
<div class="card calendar calendar-card has-text-centered">
    <!-- Heatmap -->
    <div v-bind:id="title" class=""></div>
    <!-- Legend -->
    <div class="calendar-legend" title="Cuantos restaurantes hay abiertos dependiendo del día y hora.">
        <div class="calendar-legend-column">
        <span class="calendar-legend-tags calendar-legend-tags-left">Menos</span>
        <ul class="calendar-legend-list">
            <li class="calendar-legend-square" v-for="n in 6" v-bind:style="colorGradient(20*(n-1))"></li>
        </ul>
        <span class="calendar-legend-tags calendar-legend-tags-right">Más</span>
        </div>
    </div>
    <!-- Tip shown on hover -->
    <div id="tip-container" class="calendar-tip is-hidden-touch" v-show="tipShown" v-bind:style="tipStyle">
        <div class="calendar-tip-text is-size-6"  v-html="tip"></div>
        <div class="calendar-tip-arrow-clip">
            <span class="calendar-tip-arrow"></span>
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'WeekCalendar',
    props: ['title', 'times', 'total',],
    data() {
        return {
            padding: {top: 10, right: 20, bottom: 10, left: 20},
            daysOfTheWeek: ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
            tipShown: false,
            square_space: 2,
            tip: '',
            tipStyle: {},
            card_width: 0,
        };
    },
    computed: {
        square_size() {
            return Math.round(this.card_width * 0.024);
        },
        unit_size(){
            return this.square_size + this.square_space*2;
        },
        horizontal_padding() {
            return this.padding.left + this.padding.right;
        },
        vertical_padding() {
            return this.padding.top + this.padding.bottom;
        },
        width() {
            return this.unit_size * 25 + this.horizontal_padding + this.y_labels_size;
        },
        height() {
            return this.unit_size * 8 + this.vertical_padding + this.x_labels_size;
        },
        x_labels_size() {
            return 20;
        },
        y_labels_size() {
            var max = 0,
                char_width = 8;

            for (let day of this.daysOfTheWeek) {
                max = max < day.length ? day.length : max;
            }
            return max * char_width;
        },
    },

    mounted() {
        this.card_width = $(this.$el).width();
        // Add the callback for the resize event
        window.addEventListener('resize', () => {
            this.card_width = $(this.$el).width();
            this.render();
        });

        this.init();
    },

    methods: {
        colorGradient(percent) {
            return {
                backgroundColor: this.blend("#f5f5f5", "#2A506D", percent/100),
                width: this.square_size +'px',
                height: this.square_size +'px',
                border: "solid 1px black",
                margin: "1px",
            };
        },

        init() {
            var calData = this.getDataGrid();
            var svg = d3.select('#' + this.title).append("svg")
                .attr("class", "weekcalendar");

            var row = svg.selectAll(".row")
               .data(calData)
               .enter()
               .append("svg:g")
               .attr("class", "weekcalendar-row");

               var col = row.selectAll(".cell")
                   .data(function (d) { return d; })
                   .enter()
                   .append("svg:rect")
                       .attr("class", function(d) { return "cell cell-" + d.classValue })
                       .attr("data-time", function(d) { return d.time })
                       .attr("data-value", function(d) { return d.value })
                       .attr("fill", (d) => { return this.blend("#f5f5f5", "#2A506D", d.percent/100) })
                   .on('mouseout', () => {
                       this.tipShown = false;
                       this.tipStyle = {};
                       this.tip = "";
                    });
                   // .on('click', function(item) {
                       // console.log(item.value);
                   // })

            this.render();
        },

        addAxis(svg) {
            // X Axis
            var timeLabels = svg.selectAll(".time-label")
                .data(Object.keys(this.times[0]))
                .enter().append("text")
                    .text(function(d) { return d; })
                    .attr("x", (d) => {
                        return Math.round(d*this.unit_size + this.unit_size + this.y_labels_size);
                    })
                    .attr("y", this.height - this.vertical_padding*2)
                    .style("text-anchor", "middle")
                    .attr("class", 'time-label');

            // Y Axis
            var dayLabels = svg.selectAll(".day-label")
              .data(this.daysOfTheWeek)
              .enter().append("text")
                .text(function (d) { return d; })
                .attr("x", (d) => { return Math.round(this.y_labels_size+this.horizontal_padding/2 - 10); })    // 10 is a margin-right to the graph
                .attr("y", (d, i) => {
                    return Math.round(i*this.unit_size + this.unit_size);
                })
                .style("text-anchor", "end")
                .attr("class", 'day-label');
        },

        removeAxis(svg) {
            svg.selectAll(".time-label").remove();
            svg.selectAll(".day-label").remove();
        },

        render() {
            var svg = d3.select('#' + this.title + ' svg')
                .attr("width", this.width + this.y_labels_size)
                .attr("height", this.height + this.x_labels_size);

            var col = d3.selectAll(".cell")
                        .attr("x", (d) => { return Math.round(d.x * this.unit_size + this.unit_size/2 + this.y_labels_size); })
                        .attr("y", (d) => { return Math.round(d.y * this.unit_size + this.unit_size/2); })
                        .attr("width", () => { return this.square_size; })
                        .attr("height", () => { return this.square_size })
                        .on('mouseover', (item) => {
                            this.tip = "<strong>" + item.value;
                            if (item.value != 1 ) {
                                this.tip += " restaurantes </strong> abiertos ";
                            } else {
                                this.tip += " restaurante </strong> abierto ";
                            }
                            this.tip += " los <strong>" + this.daysOfTheWeek[item.dow];
                            if (this.daysOfTheWeek[item.dow].slice(-1) !== 's') {
                                this.tip += 's';
                            }
                            this.tip += "</strong> a las <strong>" + item.time + ":00</strong>";

                            var tipWidth = 275;
                            var xpos = Math.round(
                                item.time * (this.unit_size) +
                                tipWidth/2 -
                                this.square_space - this.unit_size
                            );
                            var ypos = Math.round(item.dow * this.unit_size - 80);
                            this.tipStyle = {
                                width: tipWidth+"px",
                                transform: "translate(" + xpos + 'px, '+ ypos + 'px)',
                            };
                            this.showTip();
                         });

            this.removeAxis(svg);
            this.addAxis(svg);
        },

        getDataGrid() {
            var data = new Array();
            // Start positions
            var startX = 0;
            var startY = 0;
            //
            var stepX = 1;
            var stepY = 1;
            //
            var xpos = startX;
            var ypos = startY;
            //
            var newValue = 0;
            var classValue = 0;
            // var count = 0;

            /**
             * Build the matrix
             */

            // Days of the week
            for (let dow in this.times) {
                if (!this.times.hasOwnProperty(dow) ) {
                    continue;
                }
                data.push(new Array());
                // Hours of the day
                for (var hour = 0; hour < 24; hour++) {
                    newValue = this.times[dow][hour];
                    var percent = newValue * 100 / this.total;

                    classValue = Math.round(percent/10)*10;
                    classValue = Math.round(percent/10 % 10)*10;
                    if (classValue == 0 && newValue > 0) {
                        classValue = 5;
                    }

                    data[dow].push({
                        x: xpos,
                        y: ypos,
                        dow: dow,
                        time: hour,
                        value: newValue,
                        percent: percent,
                        classValue: classValue,
                    });
                    xpos += stepX;
                }
                xpos = startX ;
                ypos += stepY;
            }
            return data;
        },

         showTip() {
            setTimeout( () => {
                if (this.tip){
                    this.tipShown = true;
                }
            }, 250);
        },
    },

}
</script>
