/**
 * Color Palette
 * http://paletton.com/#uid=33x0u0kl2lgayvLfRqnq4g9vvaO
 */
$color-primary-0: #2a506d; // Main Primary color */
$color-primary-1: #718da3;
$color-primary-2: #496c87;
$color-primary-3: #143753;
$color-primary-4: #042137;
//
// $color-secondary-1-0: #a98e3a; // Main Secondary color (1) */
// $color-secondary-1-1: #fde8aa;
// $color-secondary-1-2: #d2b86a;
// $color-secondary-1-3: #816618;
// $color-secondary-1-4: #564101;
//
// $color-secondary-2-0: #a95a3a; // Main Secondary color (2) */
// $color-secondary-2-1: #fdc1aa;
// $color-secondary-2-2: #d2886a;
// $color-secondary-2-3: #813618;
// $color-secondary-2-4: #561901;

$color-gitlab-primary: #e24329;
$color-gitlab-secondary: #fc6d26;

$smoke: #f5f5f5;
// BULMA
$white: #fafafa;
$black: #232323;
$white-ter: $smoke;

// Default Bulma
$primary: $color-primary-0;
// $info: $cyan;
// $success: $green;
// $warning: $yellow;
// $danger: $red;
// $light: $white-ter
// $dark: $grey-darker;
// $text: $grey-dark;

// Body
$body-bg: rgba($smoke, 0.4);
$navbar-background-color: rgba($body-bg, 0.5);
$navbar-item-color: $black;
$footer-background-color: rgba($body-bg, 0.5);
$footer-text-color: pink;

// Cards
$card-bg: rgba($smoke, 0.75);

$text-color: $black;
$text-color-titles: $color-primary-2;
$text-color-titles-shadow: $color-primary-2;

// Typography
@import url(https://fonts.googleapis.com/css?family=Rubik:400,700);
@import url(https://fonts.googleapis.com/css?family=Libre+Franklin:200);
$font-family-sans-serif: 'Rubik', sans-serif;
$axis-family: 'Libre Franklin', sans-serif;
$podium-family: 'Libre Franklin', sans-serif;
$podium-family-title: 'Libre Franklin', sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

// Charts
$font-chart-titles: 24px $font-family-sans-serif;
$boxplot-default-font: 12px $axis-family;
$boxplot-box-fill: $color-primary-2;
$boxplot-box-stroke-color: #000;
$boxplot-outlier-stroke-color: #000;
$boxplot-outlier-fill: none;
$x-axis-title-font: 16px $font-family-sans-serif;
$y-axis-title-font: 16px $font-family-sans-serif;
