@mixin animation( $value... ) {
    animation: $value;
}

@mixin keyframes( $name ) {
    @keyframes #{$name} {
        @content;
    }
}

// Normal bouncing
@mixin bounce( $distance, $time ) {
    @include keyframes( bouncing ) {
        0% {
            transform: translateY(0px);
        }
        25% {
            transform: translateY(-$distance);
        }
        50% {
            transform: translateY(0px);
        }
        75% {
            transform: translateY(-$distance);
        }
        100% {
            transform: translateY(0px);
        }
    }

    @include animation(bouncing $time infinite alternate);
}

// Funny bouncing, first springs and then jumps
@mixin funny_bounce( $distance, $time ) {
    @include keyframes( bouncing ) {
        // Spring
        0%,
        20%,
        40%,
        60%,
        80% {
            transform: translateY(-$distance/4);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translateY(0);
        }
        // Jump
        100% {
            transform: translateY(-$distance);
        }
    }

    @include animation(bouncing $time infinite alternate);
}
