// Variables
@import 'variables';

// Bulma
@import 'node_modules/bulma/bulma.sass';

// Icons
@import 'vendor/pe-icon-set-food';
@import 'vendor/helper';
// Mixins
@import 'mixins';
@import 'animations';

// Font-awesome
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
    position: relative;
    min-height: 100%;
    background-color: $body-bg !important;
    /* Background pattern from Subtle Patterns */
    background-image: url('/pattern.png');
}

body {
    /* margin bottom by footer height */
    margin-bottom: 60px;
    z-index: 10;
    background-color: transparent;

    section.section {
        background-color: transparent;
    }

    .page-title {
        color: $text-color-titles;
        padding-bottom: 25px;
        text-transform: uppercase;
    }
}

@import 'nav';
@import 'footer';

@import 'country';
@import 'podium';
@import 'rankings';
@import 'chart';
@import 'weekcalendar';
