.chart {
    &-card {
        background-color: $card-bg;

        margin: 30px 15px;

        .title {
            font-weight: bold;
            text-decoration: underline;
            color: $text-color-titles;
            // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    }
    &-boxplot {
        svg {
            margin: 0 auto;
            // fill: currentColor;
        }

        .boxplot {
            font: $boxplot-default-font;

            line,
            rect,
            circle {
                fill: $boxplot-box-fill;
                stroke: $boxplot-box-stroke-color;
                stroke-width: 1px;
            }

            .box {
                fill: $boxplot-box-fill;
                &:hover {
                    transition: fill 1s;
                    fill: $primary;
                }
                .box-label, .median-label {
                    fill: $text-color;
                }
            }

            text.median {
                font: $boxplot-default-font;
            }

            line.median {
                stroke: $smoke;
            }

            .median {
                // fill: $color-secondary-2-0;
                stroke: lighten($black, 10%);
            }

            .center {
                stroke-dasharray: 3, 3;
            }

            .outlier {
                fill: $boxplot-outlier-fill;
                stroke: $boxplot-outlier-stroke-color;
            }

            .axis {
                font-size: 12px;

                path,
                line {
                    fill: none;
                    stroke: $black;
                    shape-rendering: crispEdges;
                }

                &-y {
                    .tick text {
                        font-family: $axis-family;
                        fill: $text-color;
                    }

                    &-title {
                        font: $y-axis-title-font;
                    }
                }

                &-x {
                    &-alter-labels {
                        .tick {
                            &:nth-child(even) {
                                // Move labels down when they are too long
                                text {
                                    transform: translateY(18px);
                                }
                                line {
                                    transform: scaleY(2);
                                }
                                // Hover Effects for labels below normal level
                                &:hover {
                                    & line {
                                        fill: $primary;
                                        transform: scaleY(3.5);
                                        transition: transform 1s ease-in;
                                    }
                                    & text {
                                        fill: $primary;
                                        transform: translateY(16px) scale(1.5);
                                        transition: transform 1s ease-in;
                                    }
                                }
                            }
                        }
                    }

                    .tick {
                        font-family: $axis-family;
                        fill: $text-color;

                        &:hover {
                            & line {
                                fill: $primary;
                                transform: scaleY(1.5);
                                transition: transform 1s ease-in;
                            }
                            & text {
                                // font-family: $axis-family bold;
                                fill: $primary;
                                transform: translateY(-5px) scale(1.5);
                                transition: transform 1s ease-in;
                                // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                            }
                        }
                    }
                    &-title {
                        font: $x-axis-title-font;
                    }
                }
            }
        }
    }
}
