.cities {
    align-items: center;
    justify-content: center;

    .tag {
        margin-left: 10px;
        margin-right: 10px;
        a {
            color: findColorInvert($info);
        }
    }
}

.funfoodfacts {
    background-color: rgba(251,251,251, 0.6);

    .card-header {
        background-color: rgba(235, 235, 235, 0.8);
        padding: 0 2.5rem 0 1.5rem;
    }
}
