/* Sticky footer styles
-------------------------------------------------- */

.footer {
    // font: 18px $font-family-sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;

    &-icons,
    a {
        text-decoration: none;
        color: $black;
        &:hover {
            color: $white;
            text-shadow: -1px 0 $black, 0 1px $black, 1px 0 $black, 0 -1px $black;
            transition: color 1s;
        }
    }

    &-arrow {
        padding: 0 10px;
    }

    &-copyright {
        transform: scale(-1, 1);
    }
}
