.navbar {
    // background-color: $nav-bg;
    // color: $nav-text-color;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    a {
        text-decoration: none;
        &:hover {
            color: darken($black, 15%);
            transition: color 0.5s;
        }
    }

    &-logo {
        // color: $twitter;
        padding: 0 5px;
    }
}

// Gitlab Ribbon
#forkongitlab {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 250px;
    overflow: hidden;
    height: 250px;
    z-index: 9999;

    a {
        position: absolute;
        top: 60px;
        width: 280px;
        right: -60px;
        padding: 5px 40px;
        background: $white;
        color: $black;
        text-decoration: none;
        font-family: arial, sans-serif;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        line-height: 2rem;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        transform: rotate(45deg);
        transition: 0.5s;

        svg {
            vertical-align: -4px;
        }

        &:hover {
            background: darken($white, 15%);
            color: $black;
        }

        &::before,
        &::after {
            content: '';
            width: 100%;
            display: block;
            position: absolute;
            top: 1px;
            left: 0;
            height: 1px;
            background: $black;
        }
        &::after {
            bottom: 1px;
            top: auto;
        }
    }
}
