$stand-size: 100px;
$place2-offset: 30px;
$place3-offset: 50px;

$stand-size-1: $stand-size;
$stand-size-2: ($stand-size - $place2-offset);
$stand-size-3: ($stand-size - $place3-offset);

$image-size: 64px;
$champion-zoom: 15px;

.podium {
    position: relative;
    min-height: 300px;

    background-color: $card-bg;

    .title {
        margin-bottom: 20px;
        padding-bottom: 60px;
    }
    .stand {
        width: $stand-size;
        margin: 0 auto;
        font-family: $podium-family;
        font-size: $stand-size/2;
        border: 1px solid $black;
        border-bottom: 1px solid $black;
        border-radius: 10px 10px 0px 0px;
        opacity: 1;
        background-color: darken($smoke, 10%);
        color: $black;

        .position {
            position: absolute;
            top: calc(50% - 35px);
            left: calc(50% - 13px);
        }

        .champion {
            position: absolute;
            left: calc(50% - #{$image-size/2});
            border: 1px solid $black;
            border-radius: 50%;
            & img {
                border-radius: 50%;
            }
        }

        .name {
            display: none;

            background-color: $black;
            border-radius: 10px;
            padding: 4px 6px;

            position: absolute;
            width: $stand-size;
            // left: calc(50% -#{$stand-size});

            font-family: $podium-family-title;
            color: white;
            text-shadow: none;
            transition: 1s ease;
        }
        .description {
            display: none;
            width: $stand-size;

            background-color: $black;
            border-radius: 5px;
            padding: 5px 5px;

            position: absolute;
            left: -1px;
            z-index: 5;

            font-family: $font-family-sans-serif;
            font-weight: normal;
            text-shadow: none;
            color: $white;
        }

        &:hover {
            & .champion {
                border: none;
                & img {
                    transition: all 0.4s ease-out;
                    transform: translateY(-$champion-zoom) scale(1.5);
                }
                @include funny_bounce(20px, 1.5s);
            }

            & .name {
                display: block;
                @include funny_bounce(20px, 1.5s);
            }

            & .description {
                display: block;
            }
        }
    }

    .place-1 {
        // background-color: $smoke;
        height: $stand-size-1;
        position: absolute;
        top: calc(30% + #{$stand-size-1});
        left: calc(50% - #{$stand-size/2});

        // color: $black;
        text-shadow: -1px 0 $smoke, 0 1px $smoke, 1px 0 $smoke, 0 -1px $smoke;

        .champion {
            bottom: $stand-size-1;
        }
        .name {
            bottom: $stand-size + $image-size + 5px + $champion-zoom;
        }

        .description {
            bottom: 75%;
        }
    }

    .place-2 {
        // background-color: $color-primary-0;
        position: absolute;
        height: $stand-size-2;
        top: calc(30% + #{$stand-size + $place2-offset});
        left: calc(50% - #{$stand-size*1.5});
        border-right: none;

        // color: $color-primary-4;
        text-shadow: -1px 0 $smoke, 0 1px $smoke, 1px 0 $smoke, 0 -1px $smoke;

        .champion {
            bottom: $stand-size-2;
        }
        .name {
            left: calc(50% - #{$stand-size/2});
            bottom: $stand-size + $image-size - 25px + $champion-zoom;
        }
        .description {
            // left: calc(100% - 18px);
            bottom: 65%;
        }
    }

    .place-3 {
        position: absolute;
        height: $stand-size-3;
        top: calc(30% + #{$stand-size + $place3-offset});
        left: calc(50% + #{$stand-size/2});

        // background-color: $color-secondary-2-0;
        border-left: none;
        // color: $color-secondary-2-4;
        text-shadow: -1px 0 $smoke, 0 1px $smoke, 1px 0 $smoke, 0 -1px $smoke;

        .champion {
            bottom: $stand-size-3;
        }
        .name {
            // display: block;
            bottom: $stand-size + $image-size - 45px + $champion-zoom;
            // bottom: $stand-size - 20px;
        }
        .description {
            bottom: 25px;
        }
    }
}
