.tabs {
    background-color: rgba($white, 0.8);
    text-transform: uppercase;

    & li.is-active a {
        color: $black;
        font-weight: bold;
    }
}

.ranking {
    &-title {
        text-transform: uppercase;
    }

    &-table {
        background-color: rgba($white, 0.6);
        width: 100%;

        & thead,
        tfoot {
            // background-color: rgba($color-primary-1, 0.5);

            & tr:hover {
                // background-color: rgba($color-primary-2, 0.5);
            }

            & th {
                // color: $black;
            }
        }

        .restaurant-header {
            background-color: rgba($info, 0.5);
            &:hover {
                // background-color: rgba($info, 0.5);
                // background-color: rgba($info, 0.8);
            }
        }

        .dish-row {
            background-color: rgba($smoke, 0.5);
            &:hover {
                background-color: darken(rgba($smoke, 0.5), 30%);
            }
        }
    }
}
