.calendar {
    background-color: $card-bg;

    &-title {
        padding-bottom: 30px;
    }

    &-legend {
        &-list {
            display: inline-block;
            list-style: none;
            vertical-align: middle;
        }

        &-square {
            display: inline-block;
        }

        &-tags {
            font: $x-axis-title-font;
        }
    }

    .weekcalendar {
        .time-label {
            font: $x-axis-title-font;
        }

        .day-label {
            font: $y-axis-title-font;
        }

        &-row {
        }

        .cell {
            stroke: $black;
            stroke-width: 1px;
        }
    }

    $tip-padding: 10px;
    &-tip {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99999;
        overflow: visible;

        transform: translateY(-15px);

        background-color: $black;
        border-radius: 5px;
        padding: $tip-padding;

        &-text {
            font-size: 14px;
            color: $white;
            text-align: center;
            padding: 0 10px;

            & strong {
                color: $white;
                font-weight: bold;
                font-size: 16px;
            }
        }

        &-arrow {
            display: block;
            width: 2*$tip-padding;
            height: 2*$tip-padding;
            background-color: $black;
            transform: rotate(45deg) scale(0.5);
            margin: 0 auto;

            &-clip {
                position: relative;
                top: 2*$tip-padding;
                padding: 0 ($tip-padding + 1);
            }
        }
    }
}
